pandas==2.3.3
numpy==2.4.6
matplotlib==3.11.2
seaborn==0.13.2
scikit-learn==1.9.1
imbalanced-learn==0.14.2
xgboost==3.2.0
lightgbm==4.7.0
category_encoders==2.11.1
ipykernel==7.4.0
# only needed by mobile-price-classification
tensorflow==2.21.0
